<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact List</title>
</head>
<body>
  <div id="app">
    <h1>Agenda de Contatos</h1>

    <input type='text' v-model='searchText' placeholder='Buscar pessoa...'>

    <!-- <button v-on:click='getData'>Carregar dados</button> -->

    <div v-if='listResults.length <= 0'>
      <h2>Nenhum contato encontrado</h2>
    </div>

    <ul class='cards'>
      <li v-for='item, index in listResults' class='card'> 
        <address>
          <img v-bind:src="item.picture" alt="item.firstName">
          <br />{{ item.firstName }} {{ item.lastName }}
          <br />Email: {{ item.email }}
          <br />Cidade: {{ item.city }}
        </address>
        <button v-on:click='removeContact(index)'>Excluir</button>
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>